services:
  registry:
    build:
      context: .
      dockerfile: Dockerfile.registry
    networks:
      - sensor-net

  database1:
    build:
      context: .
      dockerfile: Dockerfile.database
    hostname: database1
    command: java -cp bin Database.SensorDatabase database1 1101
    environment:
      - REGISTRY_HOST=registry
    depends_on:
      - registry
    networks:
      - sensor-net
    restart: always

  database2:
    build:
      context: .
      dockerfile: Dockerfile.database
    hostname: database2
    command: java -cp bin Database.SensorDatabase database2 1101
    environment:
      - REGISTRY_HOST=registry
    depends_on:
      - registry
    networks:
      - sensor-net
    restart: always

  database3:
    build:
      context: .
      dockerfile: Dockerfile.database
    hostname: database3
    command: java -cp bin Database.SensorDatabase database3 1101
    environment:
      - REGISTRY_HOST=registry
    depends_on:
      - registry
    networks:
      - sensor-net
    restart: always

  datacenter:
    build:
      context: .
      dockerfile: Dockerfile.datacenter
    environment:
      - REGISTRY_HOST=registry
    depends_on:
      - registry
      - database1
      - database2
      - database3
    networks:
      - sensor-net

  edge:
    build:
      context: .
      dockerfile: Dockerfile.edge
    environment:
      - REGISTRY_HOST=registry
      - DATACENTER_HOST=datacenter
    depends_on:
      - registry
      - datacenter
    networks:
      - sensor-net

  device1:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-01
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device2:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-02
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device3:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-03
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device4:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-04
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device5:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-05
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    environment:
      - REGISTRY_HOST=registry
    networks:
      - sensor-net
    depends_on:
      - registry
      - datacenter
    stdin_open: true
    tty: true

networks:
  sensor-net:
