services:
  registry:
    build:
      context: .
      dockerfile: Dockerfile.registry
    ports:
      - "1099:1099"
    networks:
      - sensor-net

  database:
    build:
      context: .
      dockerfile: Dockerfile.database
    environment:
      - REGISTRY_HOST=registry
    ports:
      - "1101:1101"
    depends_on:
      - registry
    networks:
      - sensor-net

  datacenter:
    build:
      context: .
      dockerfile: Dockerfile.datacenter
    environment:
      - REGISTRY_HOST=registry
    ports:
      - "8081:8081"
      - "1100:1100"
    depends_on:
      - registry
      - database
    networks:
      - sensor-net

  edge:
    build:
      context: .
      dockerfile: Dockerfile.edge
    environment:
      - REGISTRY_HOST=registry
      - DATACENTER_HOST=datacenter
    ports:
      - "8080:8080/udp"
    depends_on:
      - registry
      - datacenter
    networks:
      - sensor-net

  device1:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-01
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device2:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-02
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device3:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-03
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device4:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-04
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  device5:
    build:
      context: .
      dockerfile: Dockerfile.device
    environment:
      - REGISTRY_HOST=registry
      - DEVICE_ID=Device-05
    depends_on:
      - registry
      - edge
    networks:
      - sensor-net

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    environment:
      - REGISTRY_HOST=registry
    networks:
      - sensor-net
    depends_on:
      - registry
      - datacenter
    stdin_open: true
    tty: true

networks:
  sensor-net:
